*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}
body {
    background-color: #ffffff;
}
nav{
    display: flex;
    justify-content: space-between; 
    padding: 0px 10px ;
    
}
nav .logo img{
    object-fit: contain;
    max-width: 100px;
    padding-top: 10%;
}
nav .create {
    display: flex;
    margin: 10px 20px;

}
   .info{
    background-color: lightcoral;
    color:white;
    padding: 9px 24px ;
    border: none;
    border-radius: 4%;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 10px 0px 0px;
}
nav .create .info:hover{
    background-color: white;
    color: black;
    transition: 0.8ms;
}
nav .create .sign {
    background-color:lightcoral ;
    color:white;
    padding: 9px 24px ;
    border: 1px solid white;
    border-radius: 4%;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 10px 0px 0px;
}
nav .create .sign:hover{
    background-color: white;
    color: black;
    transition: 0.8ms;
}
nav .create .signs {
    background-color:lightcoral ;
    color:white;
    padding: 9px 24px ;
    border: 1px solid white;
    border-radius: 4%;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 10px 0px 0px;
}
nav .create .signs:hover{
    background-color: white;
    color: black;
    transition: 0.8ms;
}
nav .create .lil {
    background-color: lightcoral;
    color:white;
    padding: 9px 24px ;
    border: 1px solid white;
    border-radius: 4%;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 10px 0px 0px;
}

nav .create .lil:hover{
    background-color: white;
    color: black;
    transition: 0.8ms;
}
nav .create .fav {
    background-color: lightcoral;
    color:white;
    padding: 9px 24px ;
    border: 1px solid white;
    border-radius: 4%;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 10px 0px 0px;
}
nav .create .fav:hover{
    background-color: white;
    color: black;
    transition: 0.8ms;
}
.cards{
    display: flex;
    text-align: center;
    
    
 }
 .box{
     border: 2px solid white;
     background-color:white;
     color: black;
     max-width: 23%;
     margin: 10px;
     margin-left: 90px;
     transition: transform 340;
     box-shadow:6px 6px 6px 6px lightpink;
     border-radius:3% ;
     height: 400px;
 }

 .box img {
    width: 100%;
    height: 74%;
 }

 .box h3 {
    font-size: 1.8rem;
 }

.cards .box:hover{
     transform: scale(1.1);
 }
 
 .flavour-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 300px;
    background-color: #fff;
    box-shadow:6px 6px 6px 6px #111;
    margin: 10px 0px 40px 300px;
 }
   
      .pic{
        width: 35%;
        height: 100%;
        margin-right: 20px;
      }
      .pic img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

 .text h1{
    text-align: center;
    padding-bottom: 20px;
    
    }
    .text{
        width: 60%;
        margin: 0px 10px;
    }
    .text p{
        font-size: 1.02rem;
    }
 
 
 .men{
    text-align: center;
    color: lightcoral;
    font-size: 25px;

 }
 .mens{
    text-align: center;
    color: lightcoral;
    font-size: 25px;
    margin-top: 50px;

 }
 
 .pet{
    font-size: 25px;
    color:palevioletred;

   }
   .pets{
    font-size: 25px;
    color:lightcoral ;
   }
   .pen{
    text-align: center;
    font-size: 25px;
    color:lightcoral
     
   }
   .sem{
    text-align: center;
    font-size: 25px;
    color:lightcoral 
   }
   .set{
    text-align: center;
    
   }
   .sub{
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   .pop{
    position: relative;
    height: 85vh;
   }
